@model List<Authors>
<h3 class="text-center">Kitap Yazarları Listeleme Sayfası</h3>
<a class="btn btn-primary" style="float:right" asp-controller="Author" asp-action="Create"
   asp-area="Management">Yeni Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th>@(i+1)</th>
                <td>@Model[i].FirstName @Model[i].LastName</td>
                <td>
                    <a class="big-icon" asp-area="Management" asp-controller="Author" asp-action="Edit" asp-route-id="@Model[i].ID"><i class="bi bi-pencil-square"></i></a>
                    <a class="big-icon margin-icon" asp-area="Management" asp-controller="Author" asp-action="Delete" asp-route-id="@Model[i].ID"><i class="bi bi-x-circle-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>