@model List<Person>
<h3 class="text-center">Person Listeleme Sayfası</h3>
<a class="btn btn-primary" style="float:right" asp-controller="Home" asp-action="Create">Yeni Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Company Name</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
        <tr>
            <th>@(i+1)</th>
            <td>@Model[i].FirstName @Model[i].LastName</td>
            <td>@Model[i].PhoneNumber</td>
            <td>@Model[i].Company</td>
            <td>
                <a class="big-icon" asp-controller="Home" asp-action="Update" asp-route-id="@Model[i].ID"><i class="bi bi-pencil-square"></i></a>
                <a class="big-icon margin-icon" asp-controller="Home" asp-action="Delete" asp-route-id="@Model[i].ID"><i class="bi bi-x-circle-fill"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>